{% extends 'core/bg/template.html' %}
{% block title %} За Нас {% endblock %}

{% block banner %}
    <section class="section breadcrumbs-custom">
        <div class="breadcrumbs-custom-main bg-image bg-primary">
          <div class="container">
            <h3 class="breadcrumbs-custom-title">За нас</h3>
          </div>
        </div>
    </section>
{% endblock %}

{% block content %}
      <!-- Welcome to Headstarter.eu -->
      <section class="section section-md">
        <div class="container">
          <div class="row default-styles row-30 align-items-center">
            <div class="col-lg-6">
              <article class="box-info">
                  <h3>За ученици:</h3>
                  <ul>
                      <li>
                          Правите си CV, с което ще ви вземат на работа без никакви колебания
                      </li>
                      <li>
                          Достигате до безброй фирми без проблем
                      </li>
                      <li>
                          Получавате полезна информация и съвети от първо лице
                      </li>
                  </ul>
              </article>
            </div>
            <div class="col-lg-6">
              <article class="box-info">
                  <h3>За фирми:</h3>
                  <ul>
                      <li>
                        Профил, който да показва най-доброто от компанията ви
                      </li>
                      <li>
                        Много ентусиазирани младежи, които да внесат свежест и да помогнат за развитието на вашият бизнес
                      </li>
                      <li>
                        Получавате полезна информация и съвети от първо лице
                      </li>
                  </ul>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-md">
        <div class="container">
          <div class="row row-30 align-items-center">
            <div class="col-lg-6">
              <article class="box-info">
                  <h3>Нашата история</h3>
                  <p>Всичко започна едно лято, когато решихме да си намерим работа или стаж, за да научим нови неща и да получим повече опит. Всички врати ни бяха затворени под носа, защото сме млади и нямаме опит… В началото на учебната година видяхме, че нашите съученици да страдат от същият проблем.</p>
                  <p>Затова решихме, че системата има нужда от промяна. След дълго мислене и висене във вчяяяяясекидневната на СМГ, стигнахме до Headstarter - платформа предоставяща едно централизирано място за амбицираните ученици, които търсят работен опит, и фирмите, търсещи своите млади и мотивирани таланти.</p>
              </article>
            </div>
            <div class="col-lg-6">
              <figure class="figure-responsive"><img src="/images/about-us-1-573x368.jpg" alt=""/>
              </figure>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-md">
        <div class="container">
          <div class="row row-30 align-items-center">
            <div class="col-lg-12">
              <article class="box-info">
                  <h3>Нашият екип</h3>
              </article>
            </div>
          </div>
          <div class="row row-30 align-items-center">
              <div class="col-md-3">
                  <figure class="figure-responsive"><img src="/images/we/alex.jpg" alt=""/></figure>
                  <h5 class="text-center">Алекс Цветанов</h5>
              </div>
              <div class="col-md-3">
                  <figure class="figure-responsive"><img src="/images/we/Nadq.jpg" alt=""/></figure>
                  <h5 class="text-center">Надежда Цачева</h5>
              </div>
              <div class="col-md-3">
                  <figure class="figure-responsive"><img src="/images/we/Radi.jpg" alt=""/></figure>
                  <h5 class="text-center">Радостина Богословова</h5>
              </div>
              <div class="col-md-3">
                  <figure class="figure-responsive"><img src="/images/we/Rangel.jpg" alt=""/></figure>
                  <h5 class="text-center">Рангел Плачков</h5>
              </div>
          </div>
          <div class="row row-30 align-items-center">
              <div class="col-md-3">
                  <figure class="figure-responsive"><img src="/images/we/Ivi.jpg" alt=""/></figure>
                  <h5 class="text-center">Ивана Панева</h5>
              </div>
              <div class="col-md-3">
                  <figure class="figure-responsive"><img src="/images/we/Zari.jpg" alt=""/></figure>
                  <h5 class="text-center">Лазарина Попова</h5>
              </div>
              <!--
              <div class="col-md-3">
                  <figure class="figure-responsive"><img src="/images/we/Lili.jpg" alt=""/></figure>
                  <h5 class="text-center">Лилия Панайотова</h5>
              </div>
            -->
              <div class="col-md-3">
                  <figure class="figure-responsive"><img src="/images/we/Bobi.jpg" alt=""/></figure>
                  <h5 class="text-center">Борис Владимиров</h5>
              </div>
          </div>
        </div>
      </section>
{% endblock %}