

<!DOCTYPE html>
<html class="wide wow-animation" lang="bg">
	<head>
		<title>{% block title %}Начало{% endblock %}</title>
		<meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
		<meta charset="utf-8">
		<link rel="icon" href="/images/logo-default-52x52.png" type="image/png">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400%7CUbuntu:300,400,500,600,700">
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/fonts.css">
		<link rel="stylesheet" href="/css/style.max.css">
		<style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
    	<meta name="keywords" content="обяви за работа за шофьори,обяви за работа като шофьор,обяви работа предлага,obqavi za rabota,вестник труд обяви за работа,джобс бг работа за шофьори,работа обяви за работа,online обяви за работа,rabota,обяви за работа,обяви,on 8,търся работа,работа бг,сайтове за работа,обяви за работа в чужбина,търсене на работа,рбот,търся си работа,предлагам работа,работа на морето,работа чужбина,търси работа,на работа,сайтове за работа в чужбина,стажанти,работа предлага,предложения за работа,безплатни обяви за работа,работа в европа,работа в строителството,нови обяви за работа,обяви работа,предлага работа,оферти за работа,бг работа,работа в бг,работа обяви,сайтове за обяви за работа,фирми за работа в чужбина,стажантска програма,obyvi za rabota,търся работа в чужбина,шуменска заря обяви за работа,обяви за работа шофьори,rabota v,сайт за обяви за работа,обяви търся работа,обяви за работа на морето,искам работа,objvi,za rabota,работа два на два,обяви за работа студентски град,за ученика,обяви град,obiqvi za rabota,сайтове с обяви за работа">
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143096116-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-143096116-1');
		</script>
   		{% block css %} {% endblock %}
	</head>
	<body>
		<div class="ie-panel"> <a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
		<div class="preloader">
			<div class="preloader-body">
				<div class="preloader-item">
					<svg width="40" height="40" viewbox="0 0 40 40">
						<polygon class="rect" points="0 0 0 40 40 40 40 0"></polygon>
					</svg>
				</div>
			</div>
		</div>
		<div class="page">
	      <!-- Page Header -->
		  {% if homepage %}
		  <header class="section page-header jumbotron-creative">
		  {% else %}
		  <header class="section page-header">
			  {% endif %}
			  <!-- RD Navbar-->
			  {% if session['type'] == 'Visitor' %}
				  <div class="rd-navbar-wrap">
					  <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static"
						  data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
						  <div class="rd-navbar-main-outer">
							  <div class="rd-navbar-main">
								  <!-- RD Navbar Panel-->
								  <div class="rd-navbar-panel">
									  <!-- RD Navbar Toggle-->
									  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
									  <!-- RD Navbar Brand-->
									  <div class="rd-navbar-brand"><a class="brand" href="/"><img class="brand-logo-dark" src="/images/logo-default-52x52.png" alt="" srcset="/images/logo-default-52x52.png 2x"/><img class="brand-logo-light" src="/images/logo-default-52x52.png" alt="" srcset="/images/logo-default-52x52.png 2x"/></a>
									  </div>
								  </div>
								  <div class="rd-navbar-main-element">
									  <div class="rd-navbar-nav-wrap">
										  <ul class="rd-navbar-nav">
											  <li class="rd-nav-item">
												  <a class="rd-nav-link" href="#">За учениците</a>
												  <ul class="rd-menu rd-navbar-dropdown">
													  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ url_for('core.browse') }}">Обяви</a></li>
													  <!--<li class="rd-dropdown-item"><a class="rd-dropdown-link" href="companies.html">Компании</a></li>-->
												  </ul>
											  </li>
											  <li class="rd-nav-item">
												  <a class="rd-nav-link" href="#">За фирми</a>
												  <ul class="rd-menu rd-navbar-dropdown">
													  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ url_for('core.post_offer') }}">Нова обява</a></li>
													  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ url_for('core.list_my_offers') }}">Моите обяви</a></li>
													  <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="{{ url_for('core.list_my_candidates') }}">Моите кандидати</a></li>
												  </ul>
											  </li>
											  <li class="rd-nav-item">
												  <a class="rd-nav-link" href="#">Още</a>
												  <ul class="rd-menu rd-navbar-dropdown">
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/about">За нас</a></li>
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#contacts">Контакти</a></li>
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/faq">Често задавани въпроси</a></li>
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/news">Новини</a></li>
												  </ul>
											  </li>
											  
											  <!--
												  <label class="switch">
													  <input type="checkbox">
													  <span class="slider round"></span>
												  </label>
											  -->

										  </ul>
									  </div>
								  </div>
								  <div class="rd-navbar-aside">
									  <div class="rd-navbar-aside-item">
										  <a href="{{ url_for('login_register', action='register') }}" class="button button-xs button-primary-outline button-icon button-icon-left"><span class="icon mdi mdi-account"></span>Регистрация</a>
									  </div>
									  <div class="rd-navbar-aside-item">
										  <a href="{{ url_for('login_register', action='login') }}" class="button button-xs button-primary-outline button-icon button-icon-left"><span class="icon mdi mdi-import"></span>Вход</a>
									  </div>
								  </div>
							  </div>
						  </div>
					  </nav>
				  </div>
			  {% endif %}
			  {% if session['type'] == 'Student' %}
				  <div class="rd-navbar-wrap">
					  <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
						  <div class="rd-navbar-main-outer">
							  <div class="rd-navbar-main">
								  <!-- RD Navbar Panel-->
								  <div class="rd-navbar-panel">
									  <!-- RD Navbar Toggle-->
									  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
									  <!-- RD Navbar Brand-->
									  <div class="rd-navbar-brand"><a class="brand" href="/"><img class="brand-logo-dark" src="/images/logo-default-52x52.png" alt="" srcset="/images/logo-default-52x52.png 2x"/><img class="brand-logo-light" src="/images/logo-default-52x52.png" alt="" srcset="/images/logo-default-52x52.png 2x"/></a>
									  </div>
								  </div>
								  <div class="rd-navbar-main-element">
									  <div class="rd-navbar-nav-wrap">
										  <ul class="rd-navbar-nav">
											  <li class="rd-nav-item"><a class="rd-nav-link" href="{{ url_for('core.browse') }}">Обяви</a></li>
											  <!--<li class="rd-nav-item"><a class="rd-nav-link" href="{{ url_for('core.list_my_offers') }}">Компании</a></li>
												  <li class="rd-nav-item"><a class="rd-nav-link" href="{{ url_for('core.list_my_candidates') }}">Моите кандидати</a></li>-->
											  <li class="rd-nav-item">
												  <a class="rd-nav-link" href="#">Още</a>
												  <ul class="rd-menu rd-navbar-dropdown">
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/about">За нас</a></li>
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#contacts">Контакти</a></li>
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/faq">Често задавани въпроси</a></li>
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/news">Новини</a></li>
												  </ul>
											  </li>
											  <li class="rd-nav-item">
												  <a class="rd-nav-link" href="#"><span class="fas fa-user"></span> {{ session ['name'] }}</a>
												  <ul class="rd-menu rd-navbar-dropdown">
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="{{ url_for ('core.profile') }}">CV</a></li>
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/logout">Изход</a></li>
												  </ul>
											  </li>
										  </ul>
									  </div>
								  </div>
							  </div>
						  </div>
					  </nav>
				  </div>
			  {% endif %}
			  {% if session['type'] == 'Director' %}
				  <div class="rd-navbar-wrap">
					  <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
						  <div class="rd-navbar-main-outer">
							  <div class="rd-navbar-main">
								  <!-- RD Navbar Panel-->
								  <div class="rd-navbar-panel">
									  <!-- RD Navbar Toggle-->
									  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
									  <!-- RD Navbar Brand-->
									  <div class="rd-navbar-brand"><a class="brand" href="/"><img class="brand-logo-dark" src="/images/logo-default-52x52.png" alt="" srcset="/images/logo-default-52x52.png 2x"/><img class="brand-logo-light" src="/images/logo-default-52x52.png" alt="" srcset="/images/logo-default-52x52.png 2x"/></a>
									  </div>
								  </div>
								  <div class="rd-navbar-main-element">
									  <div class="rd-navbar-nav-wrap">
										  <ul class="rd-navbar-nav">
											  <li class="rd-nav-item">
												  <a class="rd-nav-link" href="#">Моето училище</a>
												  <ul class="rd-menu rd-navbar-dropdown">
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="{{ url_for('core.school_students') }}">Моити ученици</a></li>
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="{{ url_for('core.school_teachers') }}">Моите учители</a></li>
												  </ul>
											  </li>
											  <li class="rd-nav-item"><a class="rd-nav-link" href="{{ url_for('core.browse') }}">Обяви</a></li>
											  <li class="rd-nav-item">
												  <a class="rd-nav-link" href="#">Още</a>
												  <ul class="rd-menu rd-navbar-dropdown">
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/about">За нас</a></li>
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#contacts">Контакти</a></li>
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/faq">Често задавани въпроси</a></li>
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/news">Новини</a></li>
												  </ul>
											  </li>
											  <li class="rd-nav-item">
												  <a class="rd-nav-link" href="#"><span class="fas fa-user"></span> {{ session ['name'] }}</a>
												  <ul class="rd-menu rd-navbar-dropdown">
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="{{ url_for ('core.profile') }}">Моят профил</a></li>
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/logout">Изход</a></li>
												  </ul>
											  </li>
										  </ul>
									  </div>
								  </div>
							  </div>
						  </div>
					  </nav>
				  </div>
			  {% endif %}
			  {% if session['type'] == 'Teacher' %}
				  <div class="rd-navbar-wrap">
					  <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
						  <div class="rd-navbar-main-outer">
							  <div class="rd-navbar-main">
								  <!-- RD Navbar Panel-->
								  <div class="rd-navbar-panel">
									  <!-- RD Navbar Toggle-->
									  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
									  <!-- RD Navbar Brand-->
									  <div class="rd-navbar-brand"><a class="brand" href="/"><img class="brand-logo-dark" src="/images/logo-default-52x52.png" alt="" srcset="/images/logo-default-52x52.png 2x"/><img class="brand-logo-light" src="/images/logo-default-52x52.png" alt="" srcset="/images/logo-default-52x52.png 2x"/></a>
									  </div>
								  </div>
								  <div class="rd-navbar-main-element">
									  <div class="rd-navbar-nav-wrap">
										  <ul class="rd-navbar-nav">
											  <li class="rd-nav-item">
												  <a class="rd-nav-link" href="#">Моето училище</a>
												  <ul class="rd-menu rd-navbar-dropdown">
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="{{ url_for('core.school_students') }}">Моити ученици</a></li>
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="{{ url_for('core.school_teachers') }}">Моите учители</a></li>
												  </ul>
											  </li>
											  <li class="rd-nav-item"><a class="rd-nav-link" href="{{ url_for('core.browse') }}">Обяви</a></li>
											  <li class="rd-nav-item">
												  <a class="rd-nav-link" href="#">Още</a>
												  <ul class="rd-menu rd-navbar-dropdown">
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/about">За нас</a></li>
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#contacts">Контакти</a></li>
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/faq">Често задавани въпроси</a></li>
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/news">Новини</a></li>
												  </ul>
											  </li>
											  <li class="rd-nav-item">
												  <a class="rd-nav-link" href="#"><span class="fas fa-user"></span> {{ session ['name'] }}</a>
												  <ul class="rd-menu rd-navbar-dropdown">
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="{{ url_for ('core.profile') }}">Моят профил</a></li>
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/logout">Изход</a></li>
												  </ul>
											  </li>
										  </ul>
									  </div>
								  </div>
							  </div>
						  </div>
					  </nav>
				  </div>
			  {% endif %}
			  {% if session['type'] == 'Company' %}
				  <div class="rd-navbar-wrap">
					  <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
						  <div class="rd-navbar-main-outer">
							  <div class="rd-navbar-main">
								  <!-- RD Navbar Panel-->
								  <div class="rd-navbar-panel">
									  <!-- RD Navbar Toggle-->
									  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
									  <!-- RD Navbar Brand-->
									  <div class="rd-navbar-brand"><a class="brand" href="/"><img class="brand-logo-dark" src="/images/logo-default-52x52.png" alt="" srcset="/images/logo-default-52x52.png 2x"/><img class="brand-logo-light" src="/images/logo-default-52x52.png" alt="" srcset="/images/logo-default-52x52.png 2x"/></a>
									  </div>
								  </div>
								  <div class="rd-navbar-main-element">
									  <div class="rd-navbar-nav-wrap">
										  <ul class="rd-navbar-nav">
											  <li class="rd-nav-item">
												  <a class="rd-nav-link" href="{{ url_for('core.list_my_offers') }}">Моите обяви</a>
												  <ul class="rd-menu rd-navbar-dropdown">
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="{{ url_for('core.post_offer') }} ">Нова обява</a></li>
												  </ul>
											  </li>
											  <li class="rd-nav-item"><a class="rd-nav-link" href="{{ url_for('core.list_my_candidates') }}">Моите кандидати</a></li>
											  <li class="rd-nav-item">
												  <a class="rd-nav-link" href="#">Още</a>
												  <ul class="rd-menu rd-navbar-dropdown">
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/about">За нас</a></li>
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#contacts">Контакти</a></li>
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/faq">Често задавани въпроси</a></li>
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/news">Новини</a></li>
												  </ul>
											  </li>
											  <li class="rd-nav-item">
												  <a class="rd-nav-link" href="#"><span class="fas fa-user"></span> {{ session ['name'] }}</a>
												  <ul class="rd-menu rd-navbar-dropdown">
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="{{ url_for ('core.profile') }}">{{ session ['company'] }}</a></li>
													  <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="/logout">Изход</a></li>
												  </ul>
											  </li>
										  </ul>
									  </div>
								  </div>
							  </div>
						  </div>
					  </nav>
				  </div>
			  {% endif %}
			  {% block banner %} {% endblock %}
		  </header>
			<!-- Alerts -->
			{% if get_flashed_messages(with_categories=true) %}
			<section class="section section-md bg-default text-center">
				{% for category, message in get_flashed_messages(with_categories=true) %}
				<div class="alert alert-{{category}}" role="alert">
					{{ message | safe }}
				</div>
				{% endfor %}
			</section>
			{% endif %}
			{% block content %} {% endblock %}
			<!-- Page Footer-->
			<footer class="section footer-creative context-dark">
				<div class="footer-creative-main">
					<div class="container">
                        <div class="row row-50 justify-content-lg-between">
                          <div class="col-lg-5 col-xl-4">
                            <p class="footer-creative-title">За нас</p>
                            <div class="footer-creative-divider"></div>
                            <div class="row row-narrow row-15">
                              <div class="col-12">
                                <ul class="list-marked-1">
                                  <li><a href="/about">Headstarter</a></li>
                                  <li><a href="/faq">Често задавани въпроси</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 col-lg-4 col-xl-3">
                            <p class="footer-creative-title">Последни публикации</p>
                            <div class="footer-creative-divider"></div>
                            <div class="post-line-group">
                              <!-- Post Line--><a class="post-line" href="/post/1">
                                <time class="post-line-time" datetime="2019"><span class="post-line-time-day">10</span><span class="post-line-time-month">Юни</span></time>
                                <p class="post-line-text">Изпращането на CV е първата крачка в...</p></a>
                              <!-- Post Line--><a class="post-line" href="/post/2">
                                <time class="post-line-time" datetime="2019"><span class="post-line-time-day">10</span><span class="post-line-time-month">Юни</span></time>
                                <p class="post-line-text">Наемането на млади стажанти предоставя множество предимства, едно от които е...</p></a>
                            </div>
                          </div>
                          <div class="col-sm-6 col-lg-3">
                            <p class="footer-creative-title">Свържи се с нас</p>
                            <div class="footer-creative-divider"></div>
                            <div id="contacts" class="row row-narrow row-15">
                              <div class="col-12">
                                <ul class="list list-1 list-icons">
                                  <li><a href="mailto:contact_us@headstarter.eu"><span class="icon icon-sm mdi mdi-email"></span> contact_us@headstarter.eu</a></li>
                                  <li><a href="tel:+359 988 329 931"><span class="icon icon-sm mdi mdi-phone"></span> +359 988 329 931</a></li>
                                  <li><a target="_blank" href="https://www.facebook.com/headstartercompany/"><span class="icon icon-lg mdi mdi-facebook"></span></a>
                                      <a target="_blank" href="https://www.instagram.com/headstarter_company/"><span class="icon icon-lg mdi mdi-instagram"></span></a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br>
                        <hr>
                        <div class="footer-creative-aside">
                            <div class="container">
                                <p class="rights"><span>Headstarter</span><span>&nbsp;&copy;&nbsp;</span><span class="copyright-year"></span><span></span><a href="/terms">&nbsp;Privacy Policy</a><span>.</span></p>
                            </div>
                        </div>
                    </div>
				</div>
			</footer>
		</div>
		<div class="snackbars" id="form-output-global"></div>
		<script src="/js/core.max.js"></script>
		<script src="/js/script.max.js"></script>
		{% block js %} {% endblock %}
	</body>
</html>

