{% extends 'core/template.html' %}

{% block banner %}

{% endblock %}

{% block content %}
      <section class="section breadcrumbs-custom">
        <div class="breadcrumbs-custom-main bg-image bg-primary">
          <div class="container">
            <h3 class="breadcrumbs-custom-title">503</h3>
          </div>
        </div>
      </section>
      <section class="section section-md text-center">
        <div class="container">
          <div class="icon icon-xxl text-primary mercury-icon-gear"></div>
          <h2 class="h2-smaller">Service is Temporarily Unavailable</h2>
          <h6 class="text-gray-500"><span style="max-width: 570px;">Sorry, we're offline right now to make our site even better. Please, come back later and check what we've been up to.</span></h6>
          <div class="group group-sm group-middle"><a class="button button-gray-800-outline" href="/">Go to home page</a></div>
        </div>
      </section>
{% endblock %}